/* Custom userscript-style theme. Enabled via the "Custom theme" option in
   Options → Graphics. The <link> element is loaded with `disabled` set and
   toggled at runtime by panels.tsx based on PS.prefs.customtheme. */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');

body {
	font-size: 1.344rem;
}

#header > div.userbar > span > span {
	font-size: 1rem;
}

.battle-controls > *, .maintabbarbottom,
.ps-room-opaque, .controls > *, .battle-controls {
	background: #282a36 !important;
	color: #f8f8f2 !important;
}

.battle-log,
.battle-log > *,
.battle-log-add {
	color: #f8f8f2 !important;
	background: #13141a !important;
}

h2.battle-history {
	color: #f8f8f2 !important;
	background: #454158 !important;
}

.movemenu button {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 0.3px;
}
.movemenu label {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 2px;
	font-weight: 700;
	color: #777;
	text-transform: uppercase;
	margin-top: -10px;
	padding-bottom: 0.7%;
}
.movemenu label:hover {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 2px;
	color: #FFF;
	text-transform: uppercase;
	background: -webkit-linear-gradient(#777, #fb4864);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-color: #fb4864;
	padding-bottom: 0.7%;
}
.moveselect button, .switchselect button {
	visibility: hidden;
	height: 15px;
}

/* Move typing & PP text */
.pp, .type {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 0.3px;
	text-transform: uppercase;
	font-weight: 500;
}
.movemenu button.type-Fairy small, .movemenu button.type-Electric small, .movemenu button.type-Grass small,
.movemenu button.type-Dragon small, .movemenu button.type-Water small, .movemenu button.type-Normal small,
.movemenu button.type-Ghost small, .movemenu button.type-Steel small, .movemenu button.type-Dark small,
.movemenu button.type-Fire small, .movemenu button.type-Fighting small, .movemenu button.type-Poison small,
.movemenu button.type-Rock small, .movemenu button.type-Ground small, .movemenu button.type-Ice small,
.movemenu button.type-Flying small, .movemenu button.type-Psychic small, .movemenu button.type-Bug small {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 0.3px;
	font-size: 10.25px !important;
	text-transform: uppercase;
	font-weight: 500;
}
.movemenu button:disabled small {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 0.3px;
	font-size: 10.25px !important;
	text-transform: uppercase;
	font-weight: 500;
}
.movemenu button small {
	font-size: 10.25px !important;
}

/* Pokémon name / level / HP */
.statbar strong {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 0.3px;
	color: #FFF;
	font-weight: 500;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}
.statbar strong small {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 0.3px;
	font-weight: 300;
}
.statbar .hpbar .hptext {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 0.3px;
	font-weight: 700;
}

/* Turn box */
.turn,
.turn.style {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 0.3px;
	border: none;
	opacity: 1;
}
.backdrop:after {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 0.3px;
	display: inline-block;
	content: "";
	position: absolute;
	width: 700px;
	height: 450px;
}
.battle {
	border: 0;
	font-family: 'M PLUS Code Latin';
}

.leftbar, .rightbar {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 0.3px;
	background: none;
	border: none;
	color: #FFF;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
	z-index: 2;
}
.leftbar .trainer strong {
	position: relative !important;
	top: 305px;
	left: 63px;
	font-weight: 500;
	text-align: left;
}
.rightbar .trainer strong {
	font-weight: 500;
	position: relative !important;
	top: 329px;
	right: 95px;
	text-align: right;
}

.spacer.battle-history {
	border-top: 2px solid rgba(171, 183, 183, 0.2);
}
.battle-history {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 0.3px;
	padding-top: 2px;
}
h2.battle-history {
	font-family: 'M PLUS Code Latin';
	border-bottom: none;
	padding: 10px;
	margin-top: -7px;
	margin-bottom: -8px;
}
h2.battle-history + .chat {
	margin-top: 15px;
}
.battle-history + h2.battle-history {
	border: 0px;
}
h2.battle-history + .spacer.battle-history {
	border: 0px;
}
.battle-history + .battle-history small::before {
	content: "⇾ ";
	font-weight: bold;
}
.spacer.battle-history + .battle-history small::before {
	content: "☀ ";
	font-weight: bold;
	color: #5264bd;
}
.spacer.battle-history + .battle-history small {
	font-weight: bold;
	color: #5264bd;
}
.spacer.battle-history + h2.battle-history::before {
	content: "⇌ ";
	opacity: 0.2;
}
.chat.message-error {
	color: #bd5252;
}
.chat.message-error:nth-child(odd) {
	font-weight: bold;
}
.chat.message-error::before {
	content: "⧗  ";
	color: #bd5252;
}
abbr[title] {
	font-size: 15.5px;
	font-weight: bold;
	text-decoration: none;
}

.chat,
.battle-history small,
.battle-log,
.userlist,
.battle-log-add,
.message,
p,
body {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 0.3px;
	font-size: 1.01em;
}

.mainmenu1.mainmenu.big.button {
	font-size: 12pt;
}
.battle-controls .button {
	font-size: 9pt !important;
}
.battle-controls .button.button-first {
	font-size: 9pt !important;
}
.battle-controls .button.button-last {
	font-size: 9pt !important;
}
small {
	font-size: 1em !important;
}
.battle-log,
.userlist,
.battle-log-add {
	border: none;
}
.fa {
	letter-spacing: 0.3px;
}

#tooltipwrapper .tooltip {
	font-family: 'M PLUS Code Latin';
	letter-spacing: 0.3px;
	border: 1px solid #e3e3e3;
	background: rgba(255, 255, 255, 0.95);
}

/* Team icon positioning */
.leftbar .trainer .teamicons {
	float: left !important;
	position: relative !important;
	top: 0px !important;
	right: 0px !important;
	opacity: 1 !important;
}
.rightbar .trainer .teamicons {
	float: left !important;
	position: relative !important;
	top: 20px !important;
	right: 0px !important;
	opacity: 1 !important;
}
.rightbar .teamicons:nth-of-type(2) span:nth-of-type(1) { position: relative !important; top: 5px !important; left: 167px !important; }
.rightbar .teamicons:nth-of-type(2) span:nth-of-type(2) { position: relative !important; top: 40px !important; left: 134px !important; }
.rightbar .teamicons:nth-of-type(2) span:nth-of-type(3) { position: relative !important; top: 75px !important; left: 102px !important; }
.rightbar .teamicons:nth-of-type(3) span:nth-of-type(1) { position: relative !important; top: 110px !important; left: 69px !important; }
.rightbar .teamicons:nth-of-type(3) span:nth-of-type(2) { position: relative !important; top: 145px !important; left: 37px !important; }
.rightbar .teamicons:nth-of-type(3) span:nth-of-type(3) { position: relative !important; top: 180px !important; left: 5px !important; }
.leftbar .teamicons:nth-of-type(2) span:nth-of-type(1) { position: relative !important; top: 0px !important; left: 38px !important; }
.leftbar .teamicons:nth-of-type(2) span:nth-of-type(2) { position: relative !important; top: 35px !important; left: 5px !important; }
.leftbar .teamicons:nth-of-type(2) span:nth-of-type(3) { position: relative !important; top: 70px !important; left: -27px !important; }
.leftbar .teamicons:nth-of-type(3) span:nth-of-type(1) { position: relative !important; top: 105px !important; left: -60px !important; }
.leftbar .teamicons:nth-of-type(3) span:nth-of-type(2) { position: relative !important; top: 140px !important; left: -92px !important; }
.leftbar .teamicons:nth-of-type(3) span:nth-of-type(3) { position: relative !important; top: 175px !important; left: -124px !important; }

.trainer div.teamicons {
	width: 97px;
	height: 30px;
	left: 25px;
}
.rightbar .trainer {
	margin-top: 50px;
}
.picon {
	z-index: 2;
}
.leftbar {
	top: -125px;
	left: -57px;
}
.leftbar .trainersprite {
	position: relative !important;
	left: -40px;
}
.leftbar .badges {
	position: relative !important;
	left: -200px;
	z-index: 888;
}
.rightbar .badges {
	position: relative !important;
	right: 130px;
	top: 30px;
	z-index: 888;
}
.rightbar .trainersprite {
	position: relative !important;
	left: 0px;
	top: 30px;
}

/* Weather */
.sunweather, .sunnydayweather, .desolatelandweather {
	background: url(https://pkmn.pro/resources/sun-v4-3.gif) no-repeat scroll left top;
	color: #664411;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
	background-size: cover;
}
.rainweather, .raindanceweather, .primordialseaweather {
	background: url(https://pkmn.pro/resources/rain-v4-2.gif) scroll left top;
	background-size: cover;
	color: #0044BB;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.sandstormweather {
	background: url(https://pkmn.pro/resources/sand-v4.gif) scroll left top;
	background-size: cover;
	color: #554433;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.hailweather {
	background: url(https://pkmn.pro/resources/hail-v4_5.gif) scroll left top;
	background-size: cover;
	color: #114455;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.weather.electricterrainweather {
	background: url(https://pkmn.pro/resources/terrain-electric2.png) scroll left top;
	background-size: cover;
	opacity: 1;
}
.weather.mistyterrainweather {
	background: url(https://pkmn.pro/resources/terrain-mist4.png) scroll left top;
	background-size: cover;
	opacity: 1;
}
.weather.grassyterrainweather {
	background: url(https://pkmn.pro/resources/terrain-grassy.png) scroll left top;
	background-size: cover;
	opacity: 1;
}
.weather.psychicterrainweather {
	background: url(https://pkmn.pro/resources/terrain-psychic.png) scroll left top;
	background-size: cover;
	opacity: 1;
}
.weather em {
	color: #FFF;
	font-weight: 500;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
	font-size: 15.5px;
}

.leftbar {
	position: absolute !important;
	top: 145px !important;
	left: 10 !important;
	height: 95px !important;
	width: 320px !important;
}
.rightbar {
	position: absolute !important;
	top: 278px !important;
	right: -90px !important;
	height: 95px !important;
	width: 320px !important;
}

.tabbar a.button i.text + span {
	margin-right: 2px;
	margin-left: 8px;
}

.rightbar .trainersprite::after {
	content: attr(title);
	position: relative;
	bottom: 40px;
	left: 20px;
	font-size: 12.5px;
	opacity: 100%;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 3px;
	display: inline-block;
}
.leftbar .trainersprite::after {
	content: attr(title);
	position: relative;
	bottom: 40px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	display: inline-block;
	filter: FlipH;
	left: 20px;
	font-size: 12.5px;
	opacity: 100%;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 3px;
}
